ul {
	list-style-type: none;
}
footer {
	margin-top: 100px;
	margin-left: 560px;
}
body {
	background-color: grey;
}
.div {
	background-color: white;
	width: 80%;
	margin-left: 10%;
}
nav {
	background-color: silver;
	float: left;
	border-radius: 20px;
}
p {
	text-indent: 1.5em;
	text-align: justify;
}
h1 {
	margin-left: 475px;
	margin-top: -40px;
}
form {
	margin-left: 12%;
}
.form {
	border: 2px solid grey;
	border-radius: 5px;
	width: 98%;
}