div {
	background-color: red;
	width: 100px;
	height: 100px;
}
p {
	background-color: blue;
	width: 50%;
	height: 50%;
}
.p1 {
	margin-left: 50%;
	margin-bottom: 0;
}
.p2 {
	margin: 0;
}